[buildout]
develop = .
parts = interpreter test
extends = http://svn.zope.org/repos/main/groktoolkit/trunk/grok.cfg
versions = versions
extensions = buildout.dumppickedversions

[versions]
grokcore.chameleon = 
Chameleon = 2.8.4
ordereddict = 1.1
unittest2 = 0.5.1
z3c.pt = 2.2.2

[interpreter]
recipe = zc.recipe.egg
eggs = grokcore.chameleon
interpreter = python

[test]
recipe = zc.recipe.testrunner
eggs =
   grokcore.chameleon
   grokcore.chameleon[test]
defaults = ['--tests-pattern', '^f?tests$', '-v']
